<!--====Facebook and Khuyen Mai====-->
<!-- <div class="container">
    <div class="row">
        News
        <div class="col-sm-4">
            <h1>NEWS</h1>
        </div>
        Chay Tin
        <div class="col-sm-4">
            <h1>CHAY TIN</h1>
        </div>
        Facebook
        <div class="col-sm-4">
            <h1>FACEBOOK</h1>
        </div>
    </div>

</div> -->
<!--.====/Facebook and Khuyen Mai====-->

<!--===FOOTER===-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>
                SHOP THỜI TRANG ANH ĐÀO
                </h4>
                <p>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i> 
                        Địa Chỉ : 95 Huỳnh Văn Bánh . 
                        Phường : 17 . 
                        Quận : Phú Nhuận .    
                </p>
                
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i>  
                        Điện Thoại : 0167.7575.375 ( Zalo )
                </p>
                
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>  
                        Email : shopanhdao95@gmail.com
                </p>
                
            </div>
            <div class="col-sm-4">
                <h4>THÔNG TIN</h4>
                <p>
                Chuyên Cung Cấp Các Mặt Hàng Thời Trang. Nếu Muốn Lấy Sỉ, Xin Liên Hệ Trực Tiếp.     
                </p>
            </div>
            <div class="col-sm-4">
                <h4>QUY ĐỊNH</h4>
                <p>
                Hàng Mua Rồi Xin Miễn Đổi Trả .
                </p>
            </div>
        </div>
    </div>
    <p class="copy_right">
        @ Copyright 2017 Shop ANHDAO. All right reserved.
    </p>
</footer>
<!--===./FOOTER===-->
