<div class="row header">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home" ng-click="checkState()">
            <span class="navBrand">A</span>
            <span class="navBrand">N</span>
            <span class="navBrand">H</span>
            <span class="navBrand">D</span>
            <span class="navBrand">A</span>
            <span class="navBrand">O</span>
        </a>
    </div>

    <!--Login route desktop-->
    <div class="log_in hidden-xs">
        <ul>
            <li ng-show="!items.signIn">
                <a id="lo_gin" ui-sref="home.login"> L O G  I N </a>
            </li>
            <li ng-show="items.signIn">
                <a id="login" ui-sref="home.mainPage">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{items.username}}
                </a>
            </li>
            <li ng-show="items.haveBag">
                <a id="item_bag" role="button" data-toggle="modal" data-target="#bag">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span class="badge"> {{items.BAG.length}} </span>

                </a>
            </li>
        </ul>
    </div>
    <!--navbar mobile-->
    <div id="mySidenav" class="sidenav center">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>

        <a class="center" ng-show="!items.signIn" id="lo_gin" ui-sref="home.login"> L O G  I N </a>

        <a ng-show="items.signIn" id="login" ui-sref="home.mainPage">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{items.username}}
        </a>
        <a ng-show="items.haveBag" id="item_bag" role="button" data-toggle="modal" data-target="#bag">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="badge"> {{items.BAG.length}} </span>
        </a>

        <p class="border_bottom"></p>
        <a ui-sref="home"> Trang Chủ </a>
        <a ui-sref="home.aodai"> Áo Dài </a>
        <a ui-sref="home.dress"> Đầm </a>
        <a ui-sref="home.trousers"> Quần </a>
        <a ui-sref="home.shirts"> Áo </a>

    </div>

</div>
<!--route desktop -->
<div id="out" class="container hidden-xs">
    <div id="in" class="row">
        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="home.aodai"> Áo Dài </a>
            </li>
            <li>
                <a ui-sref="home.dress"> Đầm </a>
            </li>
            <li>
                <a ui-sref="home.trousers"> Quần </a>
            </li>
            <li>
                <a ui-sref="home.shirts"> Áo </a>
            </li>
        </ul>
    </div>
</div>

<!-- Use any element to open the sidenav -->

<button id="fixButton" class="btn btn-black-xs visible-xs" onclick="openNav()"> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> </button>

<!--===SHIP===-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Miễn Phí 30 Ngày Đổi Trả</p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Miễn Phí Giao Hàng</p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Thanh Toán Khi Nhận Hàng</p>
            </div>
        </div>
    </div>
</div> -->
<!--===./SHIP===-->

<!-- Modal -->
<div class="modal fade" id="bag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Giỏ Hàng</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th class="center_decor">Hình Ảnh</th>
                        <th class="center_decor">Mã Sản Phẩm</th>
                        <th class="center_decor">Thông Tin</th>
                        <th class="center_decor">Số Lượng</th>
                        <th class="center_decor">Giá</th>
                    </tr>
                    <tr ng-repeat="bag in items.BAG">
                        <th> <img class="img-rounded img-bag" ng-src="{{bag.image}}"> </th>
                        <th class="center_decor"> {{bag.MASO}} </th>
                        <th class="center_decor"> {{bag.tittle}} </th>
                        <th class="center_decor"> {{bag.quantity}} </th>
                        <th class="center_decor"> {{bag.price | currency:"":0}} </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Tổng Tiền</td>
                        <td> {{items.totalPrice | currency:"":0}} </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-white" ng-click="items.remove()" data-dismiss="modal" aria-label="Close">Huỷ Đơn Hàng</button>
                <button type="button" class="btn-black" ui-sref="home.buynow" data-dismiss="modal" aria-label="Close">Thanh Toán</button>
            </div>
        </div>
    </div>
</div>

<!--User Modal-->

<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "150px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>
