<!--BREADCRUMB-->
<ol class="breadcrumb">
    <li>
        <a ui-sref="home"> <i class="fa fa-home" aria-hidden="true"></i> Trang Chủ </a>
    </li>
    <li>
        <a ui-sref="home.listItems"> Danh Sách Mặt Hàng </a>
    </li>
</ol>

<div class="container">
    <div class="row border_10">

        <span class="line">
            <h3 class="center_decor">
            <span> SẢN PHẨM {{items.dres._id}} </span>
        </h3>
        </span>
        
        <span class="line">
            <h4 class="center_decor">
            <span> Phân Loại :  <span class="text_under"> {{items.dres.class}} </span></span>
        </h4>
        </span>
        
        <form class="col-sm-8" ng-submit="items.changeInfoItem(items.dres._id,items.infoItem, items.dres.class)">
            <div class="form-group">
                <label> MÃ SỐ </label>
                <input type="text" class="form-control" placeholder="{{items.dres._id}}" ng-model="items.infoItem._id">
            </div>
            <div class="form-group">
                <label> Tiêu Đề </label>
                <input type="text" class="form-control" placeholder="{{items.dres.tittle}}" ng-model="items.infoItem.tittle">
            </div>
            <div class="form-group">
                <label> Giá Tiền </label>
                <input type="number" class="form-control" placeholder="{{items.dres.price}}" ng-model="items.infoItem.price">
            </div>
            <div class="form-group">
                <label> Giá Khuyến Mãi </label>
                <input type="number" class="form-control" placeholder="{{items.dres.price_sale}}" ng-model="items.infoItem.price_sale">
            </div>
            <div class="form-group">
                <label> Màu Sắc </label>
                <input type="text" class="form-control" placeholder="{{items.dres.color}}" ng-model="items.infoItem.color">
            </div>
            <div class="form-group">
                <label> Chất Liệu </label>
                <input type="text" class="form-control" placeholder="{{items.dres.material}}" ng-model="items.infoItem.material">
            </div>
            <div class="form-group">
                <label> Size </label>
                <input type="text" class="form-control" placeholder="{{items.dres.size}}" ng-model="items.infoItem.size">
            </div>
            <div class="form-group">
                <label> Thông Tin </label>
                <textarea class="form-control" rows="3" placeholder="{{items.dres.description}}" ng-model="items.infoItem.description"></textarea>
            </div>
            
            <div class="form-group center">
                <button type="submit" class="btn btn-black"> Cập Nhật </button>
                <button ui-sref="home.mainPage" class="btn btn-white"> Quay Lại </button>
            </div>

        </form>
        
        <div class="col-sm-4">
                <label> Hình Ảnh </label><br>

                <!--  <button class="button btn btn-black" ngf-select ng-model="user.files" ngf-multiple="true">Chọn Hình </button> -->

                <table class="table table-striped col-sm-6">
                    <tr>
                        <th>Tên</th>
                        <th>Hình Ảnh</th>
                    </tr>

                    <tr ng-repeat="i in items.dres.image">
                        <th> {{$index+1}} </th>
                        <th>
                            <img class="img-rounded img-file" ng-src="{{i}}">
                        </th>
                    </tr>

                </table>
                <!-- <table class="table col-sm-6">
                    <tr>
                        <th>Tên</th>
                        <th>Hình Ảnh</th>
                    </tr>
                    <tr ng-repeat="f in user.files">
                        <th> {{f.name}} </th>
                        <th>
                            <img class="img-rounded img-file" ngf-thumbnail="f">
                        </th>
                    </tr>
                </table> -->
            </div>
        
    </div>
</div>
