<div class="container">
    <div class="row body_body">
        <!--BREADCRUMB-->
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home"> <i class="fa fa-home" aria-hidden="true"></i> Trang Chủ </a>
            </li>

            <li>
                <a ui-sref="home.customer.detail({id: user.customer._id})"> {{user.customer._id}} </a>
            </li>
        </ol>
        <span class="line">
            <h3 class="center_decor">
            <span>THÔNG TIN ĐƠN ĐẶT HÀNG</span>
        </h3>
        </span>
        <table class="table">
            <tr>
                <th>Tên
                </th>
                <th>
                    Địa Chỉ
                </th>
                <th>
                    Thành Phố
                </th>
                <th>
                    Điện Thoại
                </th>
                <th>
                    Ngày Đặt Hàng
                </th>
                <th><strong> Tình Trạng Giao Hàng </strong></th>
            </tr>
            <tr>
                <td> {{user.customer.name}} </td>
                <td> {{user.customer.address}} </td>
                <td> {{user.customer.city}} </td>
                <td> {{user.customer.phone}} </td>
                <td> {{user.customer.date | date : 'short'}} </td>
                <td>
                    <p style="color:blue" ng-show="user.customer.done"> Đã Giao </p>
                    <p style="color:red" ng-hide="user.customer.done"> Chưa Giao </p>
                </td>
            </tr>
        </table>
        <h4 class="center_decor">SẢN PHẨM ĐẶT HÀNG</h4>
        <table class="table">
            <tr>
                <th>
                    <strong>MÃ SỐ</strong>
                </th>
                <th>
                    <strong>Tiêu Đề</strong>
                </th>
                <th>
                    <strong>Hình Ảnh Minh Hoạ</strong>
                </th>
                <th>
                    <strong>Số Lượng</strong>
                </th>
                <th>
                    <strong>Giá</strong>
                </th>

            </tr>
            <tr ng-repeat="i in user.customer.bill">
                <td> {{i.MASO}} </td>
                <td> {{i.tittle}} </td>
                <td> <img class="img-rounded img-bag" ng-src="{{i.image}}"> </td>
                <td> {{i.quantity}} </td>
                <td> {{i.price | currency:"":0}} </td>


            </tr>
            <tr>
                <th>Tổng Cộng : </th>
                <th> {{user.customer.total | currency:"":0}} </th>
            </tr>
        </table>
        <button ng-click="user.delivery(user.customer._id)" class="btn btn-info btn-sm">Xác Nhận Đã Giao</button>
        <button ng-click="user.removeItem(user.customer._id)" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span> Xoá Đơn Hàng</button>
    </div>
</div>
