<ol class="breadcrumb">
    <li>
        <a ui-sref="home"> <i class="fa fa-home" aria-hidden="true"></i> Trang Chủ </a>
    </li>
</ol>
<div class="container">
    <div class="row body_body">

        <!--BREADCRUMB-->

        <span class="line">
            <h3 class="center_decor">
            <span>ĐƠN ĐẶT HÀNG</span>
        </h3>
        </span>

        <table class="table">
            <tr>
                <th>
                    <strong> Thứ Tự </strong>
                </th>
                <th>
                    <strong> Tên </strong>
                </th>
                <th>
                    <strong> Mã Đơn Hàng </strong>
                </th>
                <th>
                    <strong> Ngày Đặt Hàng </strong>
                </th>
                <th><strong> Tình Trạng Giao Hàng </strong></th>
                <th> <strong> Xoá </strong> </th>
            </tr>
            <tr ng-repeat="i in user.customers | orderBy:-date">
                <td> {{$index + 1}} </td>

                <td><a ui-sref="home.customer.detail({ id: i._id})">{{i.name}}</a></td>

                <td><a ui-sref="home.customer.detail({ id: i._id})">{{i._id}}</a></td>

                <td> {{i.date | date : 'short'}} </td>
                <td>
                    <p style="color:blue" ng-show="i.done"> Đã Giao </p>
                    <p style="color:red" ng-hide="i.done"> Chưa Giao </p>
                </td>
                <td ng-click="user.removeItem(i._id)"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
        </table>

    </div>
</div>
