<header class="jumbotron">

</header>
<div class="container">
    <div class="row body_body">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home"> Trang Chủ </a>
            </li>
            <li>
                <a ui-sref="home.listItems"> Danh Sách Mặt Hàng </a>
            </li>
        </ol>
        <span class="line">
            <h3 class="center_decor part">
            <span>DANH SÁCH MẶT HÀNG</span>
        </h3>
        </span>

        <table class="table">

            <tr>
                <th><strong>Mã Sản Phẩm</strong></th>
                <th><strong>Phân Loại</strong></th>
                <th><strong>Hình Ảnh</strong></th>
                <th><strong>Tiêu Đề</strong></th>
                <th><strong>Giá Tiền</strong></th>
                <th><strong>Khuyến Mãi</strong></th>
                <th><strong> Xóa </strong></th>
            </tr>
            <!--AODAI-->
            <tr ng-repeat="i in items.aodais">

                <td> {{i._id}} </td>
                <td> {{i.class}} </td>
                <td> <img class="img-rounded img-bag center_decor" ng-src="{{i.image[0]}}"> </td>
                <td> {{i.tittle}} </td>
                <td> {{i.price | currency:"":0}} </td>
                <td> {{i.featured}} </td>
                <td ng-click="items.removeItem(i.class)"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <!--SHIRTS-->
            <tr ng-repeat="i in items.shirts">

                <td> {{i._id}} </td>
                <td> {{i.class}} </td>
                <td> <img class="img-rounded img-bag center_decor" ng-src="{{i.image[0]}}"> </td>
                <td> {{i.tittle}} </td>
                <td> {{i.price | currency:"":0}} </td>
                <td> {{i.featured}} </td>
                <td> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </td>
            </tr>
            <!--TROUSERS-->
            <tr ng-repeat="i in items.trousers">

                <td> {{i._id}} </td>
                <td> {{i.class}} </td>
                <td> <img class="img-rounded img-bag center_decor" ng-src="{{i.image[0]}}"> </td>
                <td> {{i.tittle}} </td>
                <td> {{i.price | currency:"":0}} </td>
                <td> {{i.featured}} </td>
                <td> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </td>
            </tr>
            <!--DRESS-->
            <tr ng-repeat="i in items.dress">

                <td> {{i._id}} </td>
                <td> {{i.class}} </td>
                <td> <img class="img-rounded img-bag center_decor" ng-src="{{i.image[0]}}"> </td>
                <td> {{i.tittle}} </td>
                <td> {{i.price | currency:"":0}} </td>
                <td> {{i.featured}} </td>
                <td> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </td>
            </tr>
        </table>
    </div>
</div>
