body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}


/*shadow text*/

.part {
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

/*BORDER TITTLE*/

.line {
    display: block;
    margin-bottom: 50px;
}

.line h3 {
    font-size: 40px;
    text-align: center;
    border-bottom: 4px dotted #757575;
    position: relative;
    font-family: 'Lobster', cursive;
}

.line h3 a:hover {
    text-decoration: none;
}

.line h3 span {
    background-color: white;
    position: relative;
    top: 25px;
    color: #2E2E2E;
    letter-spacing: 3px;
}

.line h4 {
    font-size: 25px;
    text-align: center;
    position: relative;
    font-family: 'Lobster', cursive;
}

.navBrand {
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 35px;
    margin: 5px 7px 5px 7px;
}


/*
.navbar-inverse .navbar-nav>li {
    margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    letter-spacing: 3px;
    color: #fafafa;
    font-size: 12px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #e0e0e0;
}

.navbar-nav {
    margin-left: 5px;
}
*/

.ship {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0px 0px 18px 0px;
    padding: 8px;
    font-size: 18px;
    border: 2px ridge;
    background-color: #2E2E2E;
    color: #f5f5f5;
    letter-spacing: 4px;
}


/*banner hang top page*/

.banner {
    background: white;
    border: 1px ridge;
}

.border_10 {
    padding: 15px;
    border: 1px ridge;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    color: white;
    background: #212121;
    padding: 30px;
}

.copy_right {
    text-align: center;
}


/*text for border*/
.center {
    text-align: center;
}
.center_decor {
    margin: 0px;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
}

.center_decor>h4 {
    font-weight: 900;
}

ul {
    list-style-type: none;
}

.border_tab_detail {
    padding: 40px;
    border: 1px ridge;
}


/*img*/

img {
    max-width: 100%;
    max-height: 100%;
}

.landscape {
    height: 280px;
    max-width: 240px;
    display: inline-block;
}

.square {
    height: 75px;
    width: 75px;
}

.border {
    padding: 1px;
    border-bottom: 1px solid;
}

.body_details {
    margin: 20px 0px 20px 0px;
}

.nav_details {
    width: 50%;
    margin: auto;
    border-bottom: 1px ridge;
}

.body_link {
    margin: 20px 0px 20px 0px;
}

.upload_body {
    padding: 10px;
    border: 1px groove;
    background-color: white;
}

.upload_text {
    font-size: 16px;
}

.xzoom {
    margin: 10px;
}


/*set size image*/

.jumbotron {
    background: white;
    background-image: url(/img/jumpotron.jpg);
    height: 30%;
    width: 100%;
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: brown;
}

.price_sale {
    text-decoration: line-through;
    font-size: 18px;
}

.font-brand {
    font-family: 'Gloria Hallelujah', cursive;
}

.img-bag {
    max-width: 60px;
    border: 1px groove;
}

.img-file {
    max-width: 100px;
}

.form-group {
    padding: 5px;
}

.boder-right {
    border-right: 2px ridge;
}

.description {
    font-size: 18px;
    text-indent: 8px;
}

.header {
    height: 80px;
    background: #212121;
    color: white;
}

.navbar-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

.log_in {
    float: right;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    margin-right: 100px;
}

#lo_gin {
    color: #fafafa;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 15px;
}

#lo_gin:hover {
    color: #e0e0e0;
    text-decoration: none;
}

ul li {
    display: inline;
}

#item_bag {
    color: white;
    margin: 20px;
}

#login {
    color: #fafafa;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    letter-spacing: 3px;
    font-size: 15px;
}

#out {
    text-align: center;
}

#in {
    display: inline-block;
    border-bottom: 1px ridge;
    margin: 20px 0px 20px 0px;
}

#in>ul>li>a {
    color: #212121;
    text-decoration: none;
    margin: 10px;
    padding: 15px 40px 15px 40px;
    font-size: 23px;
    letter-spacing: 3px;
}

#in>ul>li>a:hover {
    color: #212121;
    text-decoration: none;
}

.breadcrumb {
    background: white;
    margin-left: 100px;
}

.breadcrumb>li>a {
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    color: black;
}

.breadcrumb>li>a:hover {
    text-decoration: none;
}

.border_bottom {
    border-bottom: 1px ridge;
}

.btn-black {
    background: #212121;
    color: aliceblue;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid black;
}

.btn-black:hover {
    color: white;
    text-decoration: none;
}

.btn-white {
    background: white;
    color: #212121;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    font-size: 16px;
}

.font_size_th {
    font-size: 20px;
}
.btn-white-xs {
    background: white;
    color: #212121;
    margin: 5px;
    border: 1px solid black;
}
.btn-black-xs {
    background: #212121;
    color: aliceblue;
    margin: 5px;
    border: 1px solid black;
}
.btn-black-xs:hover {
    color: white;
    text-decoration: none;
}
.text_under {
    text-decoration: underline;
    color: brown;
}
.footer_font {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    text-align: center;
}
.footer_text_under {
    text-decoration: underline;
}
/*test navbar*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#fixButton {
    position: fixed;
    top: 150px;
    left: -10px; 
}
/*button top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*facebook messeger*/
#cfacebook {
            position: fixed;
            bottom: 0px;
            right: 80px;
            z-index: 999999999999999;
            width: 250px;
            height: auto;
            box-shadow: 6px 6px 6px 10px rgba(0, 0, 0, 0.2);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }
        
        #cfacebook .fchat {
            float: left;
            width: 100%;
            height: 270px;
            overflow: hidden;
            display: none;
            background-color: #fff;
        }
        
        #cfacebook .fchat .fb-page {
            margin-top: -130px;
            float: left;
        }
        
        #cfacebook a.chat_fb {
            float: left;
            padding: 0 25px;
            width: 250px;
            color: #fff;
            text-decoration: none;
            height: 40px;
            line-height: 40px;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);
            background-repeat: repeat-x;
            background-size: auto;
            background-position: 0 0;
            background-color: #3a5795;
            border: 0;
            border-bottom: 1px solid #133783;
            z-index: 9999999;
            margin-right: 12px;
            font-size: 18px;
        }
        
        #cfacebook a.chat_fb:hover {
            color: yellow;
            text-decoration: none;
        }
