<header class="jumbotron">
</header>
<!--DETAILS SAN PHAM-->
<div class="container">
    <div class="row body_body">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home"> Trang Chủ </a>
            </li>
            <li>
                <a ui-sref="home.aodai"> Áo Dài </a>
            </li>
            <li>
                <a ui-sref="home.aodai.detail({id : items.aodai._id})"> {{items.aodai._id}} </a>
            </li>
        </ol>
        <section class="col-sm-5">
            <img class="xzoom img-thumbnail" ng-src="{{items.aodai.image[0]}}" xoriginal="{{items.aodai.image[0]}}" />
            <div class="xzoom-thumbs">
                <a ng-href="{{items.aodai.image[0]}}">
                    <img class="xzoom-gallery" width="80" ng-src="{{items.aodai.image[0]}}">
                </a>
                <a ng-href="{{items.aodai.image[1]}}">
                    <img class="xzoom-gallery" width="80" ng-src="{{items.aodai.image[1]}}">
                </a>
                <a ng-href="{{items.aodai.image[2]}}">
                    <img class="xzoom-gallery" width="80" ng-src="{{items.aodai.image[2]}}">
                </a>
                <a ng-href="{{items.aodai.image[3]}}">
                    <img class="xzoom-gallery" width="80" ng-src="{{items.aodai.image[3]}}">
                </a>
            </div>
        </section>
        <div class="col-sm-7">
            <h2 style="text-align:center"> {{items.aodai.tittle}} </h2>
            <table class="table table-condensed">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <td> {{items.aodai._id}} </td>
                </tr>
                <tr>
                    <th>Giá Tiền</th>
                    <td>
                        <span class="price">{{items.aodai.price | currency:"":0}} VND </span>
                    </td>
                </tr>
                <tr>
                    <th>Màu Sắc</th>
                    <td> {{items.aodai.color}} </td>
                </tr>
                <tr>
                    <th>Chất Liệu</th>
                    <td> {{items.aodai.material}} </td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td> {{items.aodai.size}} </td>
                </tr>
            </table>
            <div class="row">
                <button type="button" class="col-sm-offset-2 btn btn-default" ng-click="items.shopping()"> <p class="center_decor">CHO VÀO GIỎ HÀNG</p> </button>
                <button type="button" class="col-sm-offset-1 btn btn-default" ng-click="items.buyNow()"><p class="center_decor">MUA NGAY</p></button>
            </div>
        </div>
        <div class="col-sm-9 body_details">
            <ul class="nav nav-tabs nav_details">
                <li class="active"><a data-toggle="tab" data-target="#thong_tin">Thông Tin Sản Phẩm</a></li>
                <li><a data-toggle="tab" data-target="#danh_gia">Đánh Giá Khách Hàng</a></li>
            </ul>
            <div class="tab-content">
                <div id="thong_tin" class="tab-pane fade in active border_tab_detail">
                    <p class="description">{{items.aodai.description}}</p>
                    <img class="img-thumbnail" ng-repeat="img in items.aodai.image" ng-src="{{img}}
                    ">
                </div>
                <div id="danh_gia" class="tab-pane fade">
                    <h3>ĐÁNH GIÀ KHÁCH HÀNG</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3 body_link">
            <h4 style="text-align:center">Sản Phẩm Nổi Bật</h4>
        </div>
    </div>
</div>
<!--./DETAILS SAN PHAM-->
<!--===SCRIPT FOR ZOOM===-->
<script>
    $('.xzoom, .xzoom-gallery').xzoom({
        position: 'lens',
        lensShape: 'circle',
        sourceClass: 'xzoom-hidden'
    });
</script>
<!--./===SCRIPT FOR ZOOM===-->
